@page "/"
@layout UserLayout

@inherits ProductsBase

@if (Products == null)
{
    <div class="row mt-3">
        @for (int i = 0; i < 17; i++)
        {
            <div class="col-md-3 mb-2">
                <div class="card">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="%100" Height="255px"/>
                    <div class="card-body">
                        <MudSkeleton SkeletonType="SkeletonType.Text" Width="%60" Height="88x"/>
                        <MudSkeleton SkeletonType="SkeletonType.Text" Width="%10" Height="88x"/>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <br/>
    <br/>
    <br/>
    <br/>
    var productCount = Products.Count();

    if (productCount > 0)
    {
        @foreach (var productDtos in GetGroupedProductByCategory())
        {
            <h4> @GetCategoryName(productDtos)</h4>
            <div class="row mt-3">
                <DisplayProducts Products="@productDtos.Take(4)"></DisplayProducts>
            </div>
            <hr class="mb-3"/>
        }
    }
}